
/* 
    Created on : Apr. 10, 2020, 12:02:52 a.m.
    Author     : Youngshin Choi
*/
body{
	width: 80%;
	padding: 2%;
	margin: 0 auto;
	box-shadow: 0 0 10px grey;
	font-size: 20px;
	font-weight:bold;
	font-family: sans-serif;
	
}
#final{
    font-size:20px;
    color: blue;
}
#title{
    font-size:20px;
    color: purple;
}
h1{
   color: brown; 
}
#confirm{
    font-size:25px;
    color: green;
}
