/* Youngshin Choi(991585731) */
#area1 {
    position: absolute;
    top:80px;
  
   box-sizing: content-box;  
  width: 360px;
  height: 480px;
  padding :20px; 
  border: 2px solid blue;
  background-color: rgb(178, 207, 74);
}
#area2{
    position: absolute;
    top:80px;
}
#toName{
    color:red;
}
#msg{
    font-size: 20px;
} 

body{
    font-size: 1.25em;
 }
    input { 
    font-weight: bold; margin-left: 5px; margin-top:20px;
}
label,legend{
    font-weight:bold; color : navy;
}
#submit{
    font-size:25px;
    padding-left:30px;padding-right:30px;
    color: red;
    text-align:center;
}
h1{
    font-weight:bold; color : rgb(180, 64, 10);
    text-align:center;
    font-size:25px;
}



