/*-YoungshinChoi,studentNum.991585731*/
body{

     background-image:url("../images/leaves.jpg");
     background-size: cover;

}
#pa{
	font-size:300%;
	color : yellow;	
	font-weight:bold;
	text-align: center;
	text-shadow:blue 1px 1px;
}
#message{
	font-size:250%;
	color:red;
	text-shadow:pink 2px 2px;
	text-align: center;

}
#butterfly{
	position:absolute; 
	width:300px; 
	height:200px;
	top:200px; 
	left:400px;">
}
#frogs{
	 position:absolute; 
	 top:400px;
	 left:200px;
	
}